# The agent namespace
agent.namespace=${SW_AGENT_NAMESPACE:""}

# The service name in UI
agent.service_name=${SW_AGENT_NAME:""}

# Authentication active is based on backend setting, see application.yml for more details.
agent.authentication = ${SW_AGENT_AUTHENTICATION:""}

# If true, skywalking agent will enable profile when user create a new profile task. Otherwise disable profile.
profile.active=${SW_AGENT_PROFILE_ACTIVE:false}

# Backend service addresses.
collector.backend_service=${SW_AGENT_COLLECTOR_BACKEND_SERVICES:oap.apm:11800}

#  Backend service timeout in seconds
collector.grpc_upstream_timeout=${SW_AGENT_COLLECTOR_TIMEOUT:60}

# Logging level
logging.level=INFO

# Logging dir
# logging.dir=/opt/app/log

# Logging max_file_size, default: 300 * 1024 * 1024 = 314572800
logging.max_file_size=104857600

# The max history log files. When rollover happened, if log files exceed this number,
# then the oldest file will be delete. Negative or zero means off, by default.
logging.max_history_files=5
